

.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    width: 100%;
    // .project-carousel {
    //     max-width: 500px;
    //     overflow: hidden;
    //     // border-radius: 20px;
    // }
    .project-content {
        display: flex;
        max-width: 800px;
        .project-info {
            text-align: left;
            margin-right: 20px;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 0px 20px;
            // box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.57);
            // -webkit-box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.57);
            // -moz-box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.57);

            p {
                font-size: 18pt;
                line-height: 2.5rem;
            }
            a {
                display: inline-block;
                margin-right: 20px;
            }
        }
        .project-image-container {
            img {
                max-width: 500px;
                margin: 0px 10px;
                border: 5px solid white;
                border-radius: 3px;
                box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.57);
                -webkit-box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.57);
                -moz-box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.57);
            }
        }
    }

    h3 {
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-size: 26pt;
        margin-bottom: 0px;
        text-align: center;
    }

    .github {
        text-decoration: none;
        color: #E00073;
        border: 2px solid #E00073;
        border-radius: 5px;
        padding: 5px;
        font-size: 18pt;
        margin-top: 5px;
        transition: 0.5s;
    }

    .site {
        text-decoration: none;
        color: #00FFBF;
        border: 2px solid #00FFBF;
        border-radius: 5px;
        padding: 5px;
        font-size: 18pt;
        margin-top: 5px;
        transition: 0.5s;
    }

    .site:hover {
        background-color: #00FFBF;   
        color: white;  
    }

    .github:hover {
        background-color: #E00073;   
        color: white;  
    }

    // @media only screen and (min-width: 601px) {
    //     .project-content {
    //         display: grid; 
    //         grid-template-columns: 1fr 1r;
    //         grid-template-rows: 1fr;
    //         #one {
    //             grid-row: 1 / 2;
    //             grid-column: 1 / 2;
    //         }
    //         p {
    //             grid-row: 1 / 2;
    //             grid-column: 2 / 3;
    //             width: 300px;
    //             padding-top: 100px;
    //             font-size: 14pt;
    //         }
    //         img {
    //             width: 500px;
    //         }
    //     }   
    // }
}